version: '2.1'

orbs:
  terraform: circleci/terraform@3.7

workflows:
  deploy_infrastructure:
    jobs:
      - terraform/fmt:
          checkout: true
          context: terraform
          path: terraform/vpc

      - terraform/validate:
          checkout: true
          context: terraform
          path: terraform/vpc
          requires:
            - terraform/fmt

      - terraform/plan:
          checkout: true
          context: terraform
          path: terraform/vpc
          persist-workspace: true
          requires:
            - terraform/validate

      - terraform/apply:
          attach-workspace: true
          context: terraform
          path: terraform/vpc
          filters:
            branches:
              only: main
          requires:
            - terraform/plan