version: 2.1

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  check-updated-files:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            terraform/.* run-terraform-changes true